{% extends "base.html" %} {% block title %}Players {% endblock title %} {% block body %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Pricing</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">-----</p>
        </div>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200 rounded-tl rounded-bl">Team Name</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Area</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Kills</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200">Points</th>
                        <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-200 rounded-tr rounded-br"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-3">----</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3 text-lg text-gray-900">-------</td>
                        <!-- <td class="w-10 text-center">
                            <input name="plan" type="radio">
                        </td> -->
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td class="px-4 py-3">----</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3 text-lg text-gray-900">-------</td>
                        <!-- <td class="w-10 text-center">
                            <input name="plan" type="radio">
                        </td> -->
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td class="px-4 py-3">----</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3 text-lg text-gray-900">-------</td>
                        <!-- <td class="w-10 text-center">
                            <input name="plan" type="radio">
                        </td> -->
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td class="px-4 py-3">----</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3 text-lg text-gray-900">-------</td>
                        <!-- <td class="w-10 text-center">
                            <input name="plan" type="radio">
                        </td> -->
                    </tr>

                </tbody>
                <tbody>
                    <tr>
                        <td class="px-4 py-3">----</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3">-------</td>
                        <td class="px-4 py-3 text-lg text-gray-900">-------</td>
                        <!-- <td class="w-10 text-center">
                            <input name="plan" type="radio">
                        </td> -->
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</section> {% endblock body %}