<style>
    body {
        background-color: teal;
    }
    
    .sec {
        display: flex;
        border-top: 2px solid;
        background-image: url("https://wallpapercave.com/wp/wp2208672.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    
    .form {
        text-align: center;
        padding-left: 20px;
        color: palegreen;
        width: 100%;
        padding-right: 10px;
        margin-top: 10px;
    }
    
    .row input {
        background: transparent;
        width: 100%;
    }
    
    .btn {
        background-color: transparent!important;
        width: 100%;
        margin-left: 21%;
    }
    
    .btn:hover {
        opacity: 0.4;
    }
    
    @media screen and (max-width: 572px) {
        .btn {
            margin-left: auto;
            margin-top: 30px;
        }
    }
</style>
{% extends "base.html" %} {% block title %}Registration{% endblock title %} {% block body %}
<section class="text-gray-700 body-font sec">

    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name </label>
            <div class="col-sm-10">
                <input type="text" name="Name" id="Name" placeholder="Name" class="form-control" id="inputEmail3" required>
            </div>
        </div>
        <hr style="border-color: seashell;">



        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Contect Number  </label>
            <div class="col-sm-10">
                <input type="phone" name="Phone" id="Phone" placeholder="Phone" class="form-control" id="inputEmail3" required>
            </div>
        </div>
        <hr style="border-color: seashell;">

        <hr style="border-color: seashell;">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">City </label>
            <div class="col-sm-10">
                <input type="text" placeholder="City" name="City" id="City" class="form-control" id="inputEmail3" required>
            </div>
        </div>
        <hr style="border-color: seashell;">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">District </label>
            <div class="col-sm-10">
                <input type="text" name="District" id="District" placeholder="District" class="form-control" id="inputEmail3" required>
            </div>
        </div>
        <hr style="border-color: seashell;">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">State </label>
            <div class="col-sm-10">
                <input type="text" name="State" id="State" placeholder="State" class="form-control" id="inputEmail3" required>
            </div>
        </div>

        <hr style="border-color: seashell;">



        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</section>{% endblock body %}